﻿@using Datwendo.Calendar.ViewModels

@model AdminEventsViewModel

@using Orchard.Utility.Extensions
@using Orchard.Core.Common.Models
@using Orchard.ContentManagement
@using Orchard.Core.Contents

@{
    var pageSizes = new List<int?> { 10, 50, 100 };
    var defaultPageSize = WorkContext.CurrentSite.PageSize;
    if (!pageSizes.Contains(defaultPageSize))
    {
        pageSizes.Add(defaultPageSize);
    }
    var returnUrl = ViewContext.RequestContext.HttpContext.Request.ToUrlString();
    bool needSyncFromG = Model.SyncFromGoogleEvents.Any();
    bool needSync2G = Model.Sync2GoogleEvents.Any();
}

<h1>@Html.TitleForPage(T("Manage Events").Text) </h1>
@using (Html.BeginFormAntiForgeryPost())
{
    @Html.ValidationSummary()
    <div class="manage">
        @Html.ActionLink(
            T("Add a new Event").Text,
            "Create", "Admin",
            new
            {
                Area = "Contents",
                Id = "CalendarEvent",
                ReturnUrl = returnUrl
            },
            new { @class = "button primaryAction" })
        @if ( needSyncFromG )
        {
            @Html.ActionLink(
            T("Sync {0} Google Events",Model.SyncFromGoogleEvents.Count()).Text,
            "SyncEventsFrom", "CalendarAdmin",
            new
            {
                Area = "Datwendo.Calendar",
                ReturnUrl = returnUrl
            },
            new { @class = "button primaryAction" })
        }
        @if (needSync2G)
        {
            @Html.ActionLink(
            T("Sync {0} Events to Google", Model.Sync2GoogleEvents.Count()).Text,
            "SyncEventsTo", "CalendarAdmin",
            new
            {
                Area = "Datwendo.Calendar",
                ReturnUrl = returnUrl
            },
            new { @class = "button primaryAction" })
        }
    </div>

    <fieldset>
        <table class="items">
            <thead>
                <tr>
                    <th colspan="2" scope="col">@T("Name")</th>
                    <th scope="col">@T("Sync")</th>
                    <th scope="col">@T("All day")</th>
                    <th scope="col">@T("Recurring")</th>
                    <th colspan="2" scope="col">@T("Start Date")</th>
                    <th colspan="2" scope="col">@T("End Date")</th>
                    <th colspan="2" scope="col">@T("Location")</th>
                    <th colspan="2" scope="col">@T("Summary")</th>
                    <th scope="col">@T("Google Id")</th>
                    <th scope="col">@T("SyncDateTime")</th>
                    <th scope="col">@T("Last Modified")</th>
                    <th scope="col">@T("To Sync")</th>
                    <th scope="col" class="actions">&nbsp;</th>
                </tr>
            </thead>
        @foreach (var levt in Model.localEvents)
        {
            string chkname = "chk_" + levt.Id;
            string chkname2 = "chk2_" + levt.Id;
            string chkname3 = "chk3_" + levt.Id;
            string chkname4 = "chk4_" + levt.Id;
            var c = (CommonPart)levt.ContentItem.Get(typeof(CommonPart));
            bool needsync = needSync2G && Model.Sync2GoogleEvents.Contains(levt);
            <tr>
                <td colspan="2">
                    @Html.ItemEditLinkWithReturnUrl(MvcHtmlString.Create(Html.Encode(levt.Name)).ToHtmlString(), levt.ContentItem)
                </td>
                <td>
                    @Html.CheckBox(chkname4, levt.Synch2GG, new { disabled = "disabled" })
                </td>
                <td>
                    @Html.CheckBox(chkname, levt.IsAllDay, new { disabled = "disabled" })
                </td>
                <td>
                    @Html.CheckBox(chkname2, levt.IsRecurring, new { disabled = "disabled" })
                </td>
                <td colspan="2">
                    @if (levt.IsAllDay)
                    {
                        @levt.StartDate
                    }
                    else
                    {
                        @Display.DateTime(DateTimeUtc: levt.StartDateTime)
                    }
                </td>
                <td colspan="2">
                    @if (!levt.IsAllDay)
                    {
                        @Display.DateTime(DateTimeUtc: levt.EndDateTime)
                    }
                </td>
                <td colspan="2" >
                    @levt.Location
                </td>
                <td colspan="2">
                    @Html.Raw(levt.Body)
                </td>
                <td>
                    @levt.GoogleId
                </td>
                <td>
                    @Display.DateTime(DateTimeUtc: levt.SyncDateTime)
                </td>
                <td>
                    @if (c != null)
                    {
                        @Display.DateTime(DateTimeUtc: c.ModifiedUtc ?? c.CreatedUtc) <br />
                    }
                </td>
                <td>
                    @if (needsync)
                    {
                        @Html.CheckBox(chkname2, true, new { disabled = "disabled" })
                    }
                    else
                    {
                        @Html.CheckBox(chkname2, false, new { disabled = "disabled" })
                    }
                </td>
                <td>
                    @if (levt.HasPublished())
                    {
                        bool addcr = false;
                        if (levt.HasDraft())
                        {
                            if (Authorizer.Authorize(Permissions.PublishContent, levt))
                            {
                                @Html.Link(T("Publish Draft").Text, Url.Action("Publish", "Admin", new { area = "Contents", id = levt.ContentItem.Id, returnUrl = Request.ToUrlString() }), new { itemprop = "UnsafeUrl" })
                                addcr = true;
                            }
                        }

                        if (Authorizer.Authorize(Permissions.PublishContent, levt))
                        {
                            if (addcr)
                            {
                                <text> | </text>
                            }
                            @Html.Link(T("Unpublish").Text, Url.Action("Unpublish", "Admin", new { area = "Contents", id = levt.ContentItem.Id, returnUrl = Request.ToUrlString() }), new { itemprop = "UnsafeUrl" })
                            addcr = true;
                        }
                    }
                    else
                    {
                        if (Authorizer.Authorize(Permissions.PublishContent, levt))
                        {
                            @Html.Link(T("Publish").Text, Url.Action("Publish", "Admin", new { area = "Contents", id = levt.ContentItem.Id, returnUrl = Request.ToUrlString() }), new { itemprop = "UnsafeUrl" })
                        }
                    }
                    @if (!string.IsNullOrEmpty(levt.HtmlLink))
                    {
                        <text> | </text>
                        @Html.Link(T("View in Google").Text, levt.HtmlLink, new { target = "_blank"})
                    }
                    <br />
                    @Html.ActionLink(T("Local Delete").Text, "DeleteEvent", "CalendarAdmin", new { Area = "Datwendo.Calendar", Id = levt.Id, ReturnUrl = returnUrl }, new { itemprop = "RemoveUrl UnsafeUrl" })
                    <text> | </text>
                    @Html.ActionLink(T("Sync in Google").Text, "SyncEventTo", "CalendarAdmin", new { Area = "Datwendo.Calendar", Id = levt.Id, ReturnUrl = returnUrl }, new { itemprop = "UnsafeUrl" })
                    @if (!string.IsNullOrEmpty(levt.GoogleId))
                    {
                        <br />
                        @Html.ActionLink(T("Sync from Google").Text, "SyncEventFrom", "CalendarAdmin", new { Area = "Datwendo.Calendar", Id = levt.Id, ReturnUrl = returnUrl }, new { itemprop = "UnsafeUrl" })
                        <text> | </text>
                        @Html.ActionLink(T("Del in Google").Text, "DeleteEventFrom", "CalendarAdmin", new { Area = "Datwendo.Calendar", Id = levt.Id, ReturnUrl = returnUrl }, new { itemprop = "RemoveUrl UnsafeUrl" })
                    }
                </td>
            </tr>
        }
    </table>
    @Display(Model.Pager)
</fieldset>
}