﻿@using Datwendo.Calendar.Models
@using Datwendo.Calendar.Helpers
@using Orchard.ContentManagement

@{
    Style.Require("CalendarWidget");

    Script.Require("CalendarWidget").AtFoot();
    // Add if you need to manage several languegesScript.Require("LangAll").AtFoot();

    var cultureInfo = System.Globalization.CultureInfo.GetCultureInfo(WorkContext.CurrentCulture);

    var localizationFileName = CalendarHelpers.GetLocalizationFileName(cultureInfo);
    if (localizationFileName != null) {
        Script.Include("~/modules/datwendo.calendar/scripts/lang/" + localizationFileName + ".js").AtFoot();
    }

    var events = ((IContentQuery<ContentItem>)Model).List().Select(e => ((ContentItem)e).As<CalendarEventPart>());
    string serializedCalendarEvents = LowercaseJsonSerializer.SerializeObject(events);
    var userLogged = (WorkContext.CurrentUser != null);

    Guid guid = Guid.NewGuid();

    string calendarId = String.Format("calendar-{0}", guid);
}

<div id="@calendarId"></div>

@using (Script.Foot()) {
   <script>
    //<![CDATA[
    DatwendoCalendar.CalendarWidget('@calendarId', @Html.Raw(serializedCalendarEvents));
    var calendar = $('#'+'@calendarId').fullCalendar('getCalendar');
    var userLogged = ('@userLogged' == 'True');
    calendar.on('dayClick', function(date, jsEvent, view) {
        alert('clicked on ' + date.format());
    });
    calendar.on('eventClick', function(calEvent, jsEvent, view) {
        jsEvent.preventDefault();
        if ( userLogged && calEvent.urlEdit) {
            window.open(calEvent.urlEdit);
            return false;
        }
        else if (calEvent.url) {
            window.open(calEvent.url);
            return false;
        }
    });
    //]]>
    </script>
}