﻿@model Datwendo.Calendar.ViewModels.CalendarDateEditorViewModel

@{
    Style.Require("CalendarDateTimeEditor");
}

<div class="calendar-2pan">
    <div class="calendar-col leftcol">
        <fieldset class="calendar-string">
            @Html.LabelFor(m => m.EventTimeZone, T("Time Zone"))
            @Html.DropDownListFor(m => m.EventTimeZone,
                new[] { new SelectListItem { Text = T("Local to server").Text, Value = "" } }.Union(new SelectList(Model.TimeZones, "Id", "", Model.EventTimeZone)))
            @Html.ValidationMessage("EventTimeZone", "*")
            <span class="hint">@T("Determines the default time zone used when displaying and editing dates and times.")</span>
        </fieldset>

        <fieldset class="calendar-datetime">
            <label for="@Html.FieldIdFor(m => Model.StartEditor.Date)">@T("Start Date")</label>
            @Html.EditorFor(m => Model.StartEditor)
        </fieldset>
        <fieldset class="calendar-bool">
            @Html.LabelFor(m => m.IsAllDay, T("All day"))
            @Html.CheckBoxFor(m => m.IsAllDay)
            <span class="hint">@T("Check if the event lasts all day")</span>
        </fieldset>
    </div>
    <div class="calendar-col rightcol">
        <fieldset class="createdutc-boollb">
            @Html.LabelFor(m => m.EndTimeUnspecified, T("EndTime Unspecified"))
            @Html.EditorFor(m => m.EndTimeUnspecified)
            <span class="hint">@T("Is the end time not clear or unspecified ?")</span>
        </fieldset>
        <fieldset class="calendar-datetime">
            <label for="@Html.FieldIdFor(m => Model.EndEditor.Date)">@T("End Date")</label>
            @Html.EditorFor(m => Model.EndEditor)
        </fieldset>
        @*
            Recurrence
            RecurringEventId
            Sequence
        *@

        @if (Model.isRecurring) {
            <fieldset class="calendar-datetime">
                @Html.LabelFor(m => Model.OriginalStartEditor.Date, T("Original Start Time"))
                @Html.EditorFor(m => Model.OriginalStartEditor)
            </fieldset>
        }
    </div>
</div>
