﻿@using Datwendo.Calendar.ViewModels
@model CalendarEventViewModel
<header>
    <h1>Liste des évènements à venir</h1>
</header>
<section>
    @if (Model != null && Model.Events != null) {
        foreach (var ev in Model.Events) {
            @ev.Title<br />
            @ev.StartDateTime<br />
            @ev.EndDateTime<br /><br />
        }
    }
</section>
