﻿@using Datwendo.Calendar.Models;
@using Orchard.ContentManagement;

@{
    CalendarEventPart ev = Model.ContentPart;
}

<section>
    @{
        if (ev.StartDateTime != null && ev.StartDateTime.HasValue) {
            if (Model.IsAllDay) {
                @T("This event occurs all day at <i>{0}</i>", ev.StartDateTime.Value.ToString("d"))
                if (ev.EndDateTime != null && ev.EndDateTime.HasValue && ev.StartDateTime.Value.Date != ev.EndDateTime.Value.Date) {
                    @T(" and lasts until <i>{0}</i>", ev.EndDateTime.Value.ToString("d"))
                }
            }
            else {
                @T("This event occurs at <i>{0}</i>", ev.StartDateTime.Value.ToString("g"))
                if (ev.EndDateTime != null && ev.EndDateTime.HasValue) {
                    @T("and lasts until <i>{0}</i>", ev.EndDateTime.Value.ToString("g"))
                }
            }
        }

        if (Model.IsRecurring) { @T("it is recurring");
        }
        else { @T("it is not recurring");
        }
    }
    <br />
    @T("ETag : ") @ev.ETag<br />
    @T("Attendees :")<br />
    @foreach (var att in ev.Attendees) {
        @att <br />
    }
    @T("Location : ") @ev.Location <br />

    @T("Status : ") @ev.Status <br />
</section>
