﻿@using Datwendo.Calendar.Models;
@using Orchard.ContentManagement;

@{
    CalendarEventPart ev = (CalendarEventPart)Model.ContentPart;
}

<section>
    @{
        if (ev.StartDateTime != null && ev.StartDateTime.HasValue) {
            if (Model.IsAllDay) {
                @T("This event occurs all day at <i>{0}</i>", ev.StartDateTime.Value.ToString("d"))
                if (ev.EndDateTime != null && ev.EndDateTime.HasValue && ev.StartDateTime.Value.Date != ev.EndDateTime.Value.Date) {
                    @T(" and lasts until <i>{0}</i>", ev.EndDateTime.Value.ToString("d"))
                }
            }
            else {
                @T("This event occurs at <i>{0}</i>", ev.StartDateTime.Value.ToString("g"))
                if (ev.EndDateTime != null && ev.EndDateTime.HasValue) {
                    @T("and lasts until <i>{0}</i>", ev.EndDateTime.Value.ToString("g"))
                }
            }
        }

        if (Model.IsRecurring) { @T("it is recurring");
        }
        else { @T("it is not recurring");
        }
    }
    <br />
    @T("EndTime Unspecified : ") @ev.EndTimeUnspecified <br />
    @T("ETag : ") @ev.ETag<br />
    @T("Anyone can add self : ") @ev.AnyoneCanAddSelf <br />
    @T("Attendees :")<br />
    @foreach (var att in ev.Attendees) {
        @att <br />
    }

    @T("Attendees Omitted : ") @ev.AttendeesOmitted <br />
    @T("Color Id : ") @ev.ColorId<br />

    @T("Guests can invite others : ") @ev.GuestsCanInviteOthers <br />
    @T("Guests can modify : ") @ev.GuestsCanModify <br />
    @T("Guests can see other guests : ") @ev.GuestsCanSeeOtherGuests <br />

    @T("Hangout Link : ") @ev.HangoutLink <br />
    @T("Html Link : ") @ev.HtmlLink <br />
    @T("Kind : ") @ev.Kind <br />
    @T("Location : ") @ev.Location <br />
    @T("Event Locked : ") @ev.Locked <br />
    @T("Original Start Time : ") @ev.OriginalStartTime <br />
    @T("Private Copy : ") @ev.PrivateCopy <br />

    @T("Recurrence : ") @string.Join(",", ev.Recurrence) <br />
    @T("RecurringEventId : ") @ev.RecurringEventId <br />
    @T("Sequence : ") @ev.Sequence <br />
    @T("Status : ") @ev.Status <br />
    @T("Transparency : ") @ev.Transparency <br />
    @T("Visibility : ") @ev.Visibility <br />
    <br /><br /><br />
</section>
