﻿@using Datwendo.Calendar.Helpers

@model Datwendo.Calendar.Models.CalendarEventPart

@{
    Style.Require("CalendarDateTimeEditor");
}


@if (!Model.Attendees.Any()) {
    Model.Attendees = new List<string> { " ," }; // will be removed on validation, allow for a minimal edit field
}
<div class="calendar-2pan">
    <div class="calendar-col leftcol">
        <fieldset>
            @Html.LabelFor(m => m.Location, T("Location"))
            @Html.TextAreaFor(m => m.Location, new { rows = 3, cols = 15, @class = "comment-text" })
            <span class="hint">@T("Location of the event")</span>
        </fieldset>
        <fieldset>
            @Html.LabelFor(m => m.Synch2GG, T("Sync with Google"))
            @Html.EditorFor(m => m.Synch2GG)
            <span class="hint">@T("Enter the sync status")</span>
        </fieldset>
        <fieldset>
            @Html.LabelFor(m => m.Status, T("Status"))
            @Html.TextBoxFor(m => m.Status, new { @class = "text medium" })
            <span class="hint">@T("Enter the status")</span>
        </fieldset>
        <fieldset>
            @Html.LabelFor(m => m.ETag, T("ETag"))
            @Html.TextBoxFor(m => m.ETag, new { @class = "text medium" })
            <span class="hint">@T("Enter the ETag")</span>

            @Html.LabelFor(m => m.Kind, T("Kind"))
            @Html.TextBoxFor(m => m.Kind, new { @class = "text medium" })
            <span class="hint">@T("Enter the king the event")</span>

            @Html.LabelFor(m => m.ColorId, T("Color Id"))
            @Html.TextBoxFor(m => m.ColorId, new { @class = "text medium" })
            <span class="hint">@T("Enter the Google Calendar Color Id")</span>

            @Html.LabelFor(m => m.Transparency, T("Transparency"))
            @Html.TextBoxFor(m => m.Transparency, new { @class = "text medium" })
            <span class="hint">@T("Enter the Transparency")</span>

            @Html.LabelFor(m => m.Visibility, T("Visibility"))
            @Html.TextBoxFor(m => m.Visibility, new { @class = "text medium" })
            <span class="hint">@T("Enter the Visibility")</span>

        </fieldset>
        <fieldset>
            @Html.LabelFor(m => m.HangoutLink, T("Hangout Link"))
            @Html.TextBoxFor(m => m.HangoutLink, new { @class = "text medium" })
            <span class="hint">@T("Enter the Google Hangout Link")</span>

            @Html.LabelFor(m => m.HtmlLink, T("Html Link"))
            @Html.TextBoxFor(m => m.HtmlLink, new { @class = "text medium" })
            <span class="hint">@T("Enter the Html Link of the event in Google calendar")</span>
        </fieldset>
    </div>
    <div class="calendar-col rightcol">
        <fieldset>
            @Html.LabelFor(m => m.GoogleId, T("Google Id"))
            @Html.TextBoxFor(m => m.GoogleId, new { @class = "text medium" })
            <span class="hint">@T("Only change the Google Id to fix a problem")</span>
        </fieldset>
        <fieldset>
            @Html.LabelFor(m => m.ICalUID, T("Google ICal UID"))
            @Html.TextBoxFor(m => m.ICalUID, new { @class = "text medium" })
            <span class="hint">@T("Only change the Google ICalUID to fix a problem")</span>
        </fieldset>

        <fieldset>
            @Html.LabelFor(m => m.Attendees, T("Attendees"))
            @Html.EditorForMany(m => m.Attendees)
            <span class="hint">@T("Comma separated list of attendees")</span>

            @Html.LabelFor(m => m.AttendeesOmitted, T("Attendees Omitted"))
            @Html.EditorFor(m => m.AttendeesOmitted)
            <span class="hint">@T("Does some attendes are omitted ?")</span>
        </fieldset>
        <fieldset>

            @Html.LabelFor(m => m.AnyoneCanAddSelf, T("Anyone can add self"))
            @Html.EditorFor(m => m.AnyoneCanAddSelf)
            <span class="hint">@T("Coudl any one add itself to this meeting ?")</span>

            @Html.LabelFor(m => m.GuestsCanInviteOthers, T("Guests can invite others"))
            @Html.EditorFor(m => m.GuestsCanInviteOthers)
            <span class="hint">@T("Does guests can invite others ?")</span>

            @Html.LabelFor(m => m.GuestsCanModify, T("Guests can modify"))
            @Html.EditorFor(m => m.GuestsCanModify)
            <span class="hint">@T("Does guests can modify then event ?")</span>

            @Html.LabelFor(m => m.GuestsCanSeeOtherGuests, T("Guests can see other guests"))
            @Html.EditorFor(m => m.GuestsCanSeeOtherGuests)
            <span class="hint">@T("Does guests can see others ?")</span>

        </fieldset>
        <fieldset>
            @Html.LabelFor(m => m.Locked, T("Event Locked"))
            @Html.EditorFor(m => m.Locked)
            <span class="hint">@T("Is the event locked?")</span>

            @Html.LabelFor(m => m.PrivateCopy, T("Private Copy"))
            @Html.EditorFor(m => m.PrivateCopy)
            <span class="hint">@T("Is this a private copy?")</span>
        </fieldset>
    </div>
</div>
