﻿@model Datwendo.Calendar.Models.CalendarSettingsPart
@using Datwendo.Calendar.Models;
@using Orchard.Utility.Extensions;
@using Orchard.Environment.Configuration

<fieldset>
    <span class="checkbox-and-label">
        @Html.CheckBoxFor(m => m.GoogleEnabled)
        <label for="@Html.FieldIdFor(m => m.GoogleEnabled)" class="forcheckbox">@T("Enable Google connection")</label>
    </span>
    <span class="hint">@T("Cocher pour activer la synchro avec un calendrier Google.")</span>
</fieldset>

<fieldset>
    <span class="checkbox-and-label">
        @Html.CheckBoxFor(m => m.SyncDeletes)
        <label for="@Html.FieldIdFor(m => m.SyncDeletes)" class="forcheckbox">@T("Sync local Delete with Google")</label>
    </span>
    <span class="hint">@T("Check to delete in Google before any local delete.")</span>
</fieldset>

<fieldset>
    @Html.LabelFor(m => m.NbPrevMonths, T("Nb Months to Check"))
    @Html.TextBoxFor(m => m.NbPrevMonths, new { @class = "small text" })
    @Html.ValidationMessageFor(m => m.NbPrevMonths)
    <span class="hint">@T("Input the number of months before current date to consider for all sync operations.")</span>
</fieldset>

<fieldset>
    @Html.LabelFor(m => m.MaxItemsInView, T("Max Items In View"))
    @Html.TextBoxFor(m => m.MaxItemsInView, new { @class = "small text" })
    @Html.ValidationMessageFor(m => m.MaxItemsInView)
    <span class="hint">@T("Max number of items to keep in client request.")</span>
</fieldset>

<fieldset>
    @Html.LabelFor(m => m.ConnectionAPI, T("Google connection API"))
    <select name="@Html.FieldNameFor(m => m.ConnectionAPI)" id="@Html.FieldIdFor(m => m.ConnectionAPI)">
        @Html.SelectOption((int)Model.ConnectionAPI, (int)GoogleConnectionMode.ServiceAccount, T("ServiceAccount").ToString(), null)
        @Html.SelectOption((int)Model.ConnectionAPI, (int)GoogleConnectionMode.UserAccount, T("UserAccount").ToString(), null)
        @Html.SelectOption((int)Model.ConnectionAPI, (int)GoogleConnectionMode.ClientID, T("ClientID").ToString(), null)
        @Html.SelectOption((int)Model.ConnectionAPI, (int)GoogleConnectionMode.APIKey, T("APIKey").ToString(), null)
    </select>
    <span class="hint">@T("Prefered API to use, if ServiceAccount don't forget to add its email to Calendar users")</span>
</fieldset>
<fieldset>
    @Html.LabelFor(m => m.Scopes, T("Scopes"))
    @Html.TextBoxFor(m => m.Scopes, new { @class = "large text" })
    @Html.ValidationMessageFor(m => m.Scopes)
    <span class="hint">@T("Comma separated list of Scopes to use with this connection (see Google doc).")</span>
</fieldset>


<h2>@T("Service Account")</h2>

<fieldset>
    @Html.LabelFor(m => m.ModeServiceAccount, T("Identification mode"))
    <select name="@Html.FieldNameFor(m => m.ModeServiceAccount)" id="@Html.FieldIdFor(m => m.ModeServiceAccount)">
        @Html.SelectOption((int)Model.ModeServiceAccount, (int)ServiceAccountMode.Json, T("Json Token").ToString(), null)
        @Html.SelectOption((int)Model.ModeServiceAccount, (int)ServiceAccountMode.P12, T("P12 Certificat").ToString(), null)
    </select>
    <span class="hint">@T("Place the corresponding file downloaded from Dev Console in the App_Data\\Tenant folder with name 'Google-ServiceAccount.json' or '.p12'")</span>
</fieldset>

<fieldset>
    @Html.LabelFor(m => m.ServiceAccountEmail, T("ServiceAccount Email"))
    @Html.TextBoxFor(m => m.ServiceAccountEmail, new { @class = "large text" })
    @Html.ValidationMessageFor(m => m.ServiceAccountEmail)
    <span class="hint">@T("Only necessary fro P12 mode.")</span>
</fieldset>

<fieldset>
    <span class="checkbox-and-label">
        @Html.CheckBoxFor(m => m.ImpersonateServiceAccount)
        <label for="@Html.FieldIdFor(m => m.ImpersonateServiceAccount)" class="forcheckbox">@T("Impersonate Service account")</label>
    </span>
    <span class="hint">@T("Check this **only** in special conditions, the service account will impersonate using the Google user you can input in Google User .")</span>
</fieldset>

<h2>@T("User Account")</h2>

<fieldset>
    <span class="checkbox-and-label">
        @Html.CheckBoxFor(m => m.FixedUser)
        <label for="@Html.FieldIdFor(m => m.FixedUser)" class="forcheckbox">@T("Identifiant unique")</label>
    </span>
    <span class="hint">@T("Check to connect using the Google User (next input), else it will be current connected user.")</span>
</fieldset>

<fieldset>
    @Html.LabelFor(m => m.GoogleUser, T("Google user"))
    @Html.TextBoxFor(m => m.GoogleUser, new { @class = "medium text" })
    <span class="hint">@T("Google user (email) registered in Google.")</span>
</fieldset>

<h2>@T("Cliend ID")</h2>

<fieldset>
    @Html.LabelFor(m => m.ClientId, T("Client Id"))
    @Html.TextBoxFor(m => m.ClientId, new { @class = "large text" })
    @Html.ValidationMessageFor(m => m.ClientId)
    <span class="hint">@T("Google Client Id.")</span>
</fieldset>

<fieldset>
    @Html.LabelFor(m => m.ClientSecret, T("Client Secret"))
    @Html.TextBoxFor(m => m.ClientSecret, new { @class = "medium text" })
    @Html.ValidationMessageFor(m => m.ClientSecret)
    <span class="hint">@T("Google Client Secret.")</span>
</fieldset>

<h2>@T("API Key")</h2>

<fieldset>
    @Html.LabelFor(m => m.GoogleCalendarApiKey, T("Google Calendar API Key"))
    @Html.TextBoxFor(m => m.GoogleCalendarApiKey, new { @class = "large text" })
    @Html.ValidationMessageFor(m => m.GoogleCalendarApiKey)
    <span class="hint">@T("Google Calendar API key obtained from Google Developer Console.")</span>
</fieldset>

<h2>@T("Calendar parameters")</h2>

<fieldset>
    @Html.LabelFor(m => m.GoogleCalendarIds, T("Google Calendar IDs"))
    @Html.TextBoxFor(m => m.GoogleCalendarIds, new { @class = "large text" })
    @Html.ValidationMessageFor(m => m.GoogleCalendarIds)
    <span class="hint">@T("Comma separated list of Google Calendars IDs.")</span>
</fieldset>
@if (Model.DefaultTimeZone == null ) { Model.DefaultTimeZone = string.Empty; }
<fieldset class="calendar-string">
    @Html.LabelFor(m => m.DefaultTimeZone, T("Default Time Zone"))
    @Html.DropDownListFor(m => m.DefaultTimeZone,
                new[] { new SelectListItem { Text = T("Local to server").Text, Value = "" } }.Union(new SelectList(Model.DefaultTimeZone, "Id", "", Model.DefaultTimeZone)))
    @Html.ValidationMessage("DefaultTimeZone", "*")
    <span class="hint">@T("Determines the default time zone used when displaying and editing dates and times.")</span>
</fieldset>

<fieldset>
    @Html.LabelFor(m => m.GoogleCalendarClasses, T("Google Calendar Classes"))
    @Html.TextBoxFor(m => m.GoogleCalendarClasses, new { @class = "text medium" })
    @Html.ValidationMessageFor(m => m.GoogleCalendarClasses)
    <span class="hint">@T("Comma separated list of CSS classes to be added to events of the corresponding calendar.")</span>
</fieldset>

<fieldset>
    <span class="checkbox-and-label">
        @Html.CheckBoxFor(m => m.Theme)
        <label for="@Html.FieldIdFor(m => m.Theme)" class="forcheckbox">@T("Use Theme")</label>
    </span>
    <span class="hint">@T("Enables/disables use of jQuery UI theming.")</span>
</fieldset>

<fieldset>
    @Html.LabelFor(m => m.DefaultView, T("Default View"))
    <select name="@Html.FieldNameFor(m => m.DefaultView)" id="@Html.FieldIdFor(m => m.DefaultView)">
        @Html.SelectOption((byte)Model.DefaultView, (byte)FullCalendarDefaultView.Month, T("Month").ToString(), null)
        @Html.SelectOption((byte)Model.DefaultView, (byte)FullCalendarDefaultView.BasicWeek, T("Basic Week").ToString(), null)
        @Html.SelectOption((byte)Model.DefaultView, (byte)FullCalendarDefaultView.BasicDay, T("Basic Day").ToString(), null)
        @Html.SelectOption((byte)Model.DefaultView, (byte)FullCalendarDefaultView.AgendaWeek, T("Agenda Week").ToString(), null)
        @Html.SelectOption((byte)Model.DefaultView, (byte)FullCalendarDefaultView.AgendaDay, T("Agenda Day").ToString(), null)
    </select>
    <span class="hint">@T("The initial view when the calendar loads.")</span>
</fieldset>

<fieldset>
    @Html.LabelFor(m => m.HeaderLeft, T("Header Left"))
    @Html.TextBoxFor(m => m.HeaderLeft, new { @class = "small text" })
    @Html.ValidationMessageFor(m => m.HeaderLeft)
    @Html.LabelFor(m => m.HeaderCenter, T("Header Center"))
    @Html.TextBoxFor(m => m.HeaderCenter, new { @class = "small text" })
    @Html.ValidationMessageFor(m => m.HeaderCenter)
    @Html.LabelFor(m => m.HeaderRight, T("Header Right"))
    @Html.TextBoxFor(m => m.HeaderRight, new { @class = "small text" })
    @Html.ValidationMessageFor(m => m.HeaderRight)
    <span class="hint">@T("Determines content of the calendar header. <a href=\"http://arshaw.com/fullcalendar/docs/display/header/\" target=\"_blank\">More</a>")</span>
</fieldset>

<fieldset>
    <span class="checkbox-and-label">
        @Html.CheckBoxFor(m => m.Weekends)
        <label for="@Html.FieldIdFor(m => m.Weekends)" class="forcheckbox">@T("Show Weekends")</label>
    </span>
    <span class="hint">@T("Whether to include Saturday/Sunday columns in any of the calendar views.")</span>
</fieldset>

<fieldset>
    <span class="checkbox-and-label">
        @Html.CheckBoxFor(m => m.WeekNumbers)
        <label for="@Html.FieldIdFor(m => m.WeekNumbers)" class="forcheckbox">@T("Show Week Numbers")</label>
    </span>
    <span class="hint">@T("Determines if week numbers should be displayed on the calendar.")</span>
</fieldset>

<fieldset>
    <span class="checkbox-and-label">
        @Html.CheckBoxFor(m => m.AllDaySlot)
        <label for="@Html.FieldIdFor(m => m.AllDaySlot)" class="forcheckbox">@T("Show All-Day Slot")</label>
    </span>
    <span class="hint">@T("Determines if the \"all-day\" slot is displayed at the top of the calendar.")</span>
</fieldset>

<fieldset>
    @Html.LabelFor(m => m.MinTime, T("Min Time"))
    @Html.TextBoxFor(m => m.MinTime, new { @class = "small text" })
    @Html.ValidationMessageFor(m => m.MinTime)
    <span class="hint">@T("Determines the first hour that will be displayed, even when the scrollbars have been scrolled all the way up.")</span>
</fieldset>

<fieldset>
    @Html.LabelFor(m => m.MaxTime, T("Max Time"))
    @Html.TextBoxFor(m => m.MaxTime, new { @class = "small text" })
    @Html.ValidationMessageFor(m => m.MaxTime)
    <span class="hint">@T("Determines the last hour (exclusively) that will be displayed, even when the scrollbars have been scrolled all the way down.")</span>
</fieldset>
