﻿@using Datwendo.Calendar.Helpers

@model Datwendo.Calendar.Models.OAuthServerPart


<fieldset>
    <label for="@Html.FieldIdFor(m=>m.Server)">@T("Server")</label>
    @Html.EditorFor(m => m.Server)
    <span class="hint">@T("The OAuth Server.")</span>
</fieldset>