﻿@using Datwendo.Calendar.Helpers

@model Datwendo.Calendar.Models.OAuthTokensPart


<fieldset>
    <label for="@Html.FieldIdFor(m=>m.UserId)">@T("User Id")</label>
    @Html.TextBoxFor(m => m.UserId, new { @class = "text medium" })
    <span class="hint">@T("The OAuth User Id.")</span>
</fieldset>

<fieldset>
    <label for="@Html.FieldIdFor(m=>m.Tokens)">@T("Tokens")</label>
    @Html.TextBoxFor(m => m.Tokens, new { @class = "text large"})
    <span class="hint">@T("The OAuth Tokens.")</span>
</fieldset>