﻿html.dyn label.forpicker {
    display:none;
}
/* todo: (heskew) let themes take care of this */
html.dyn input.hinted {
    color:#ccc;
    font-style:italic;
}
.date input{
    width:10em;
}
.time input {
    width:7em;
}
.calendar-2pan {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
}
.calendar-2pan .calendar-col {
    margin: 0;
    padding: 5px 10px 5px 10px;
    position: relative;
    top: 0;
}

.calendar-2pan .leftcol
{
    left:0;
    width: 50%;
}
.calendar-2pan .rightcol
{
    position: absolute;
    left:50%;
}

#main .calendar-2pan textarea 
{
    width: 95%;
}

#main textarea 
{
    height: 80px;
}

.calendar-2pan fieldset
{
    position: relative;
    display: block;
}