﻿.navicon-datwendo-calendar /*,
.subnavicon-view-events,
.subnavicon-sync-events */
{
    background-image:url(../content/datwendo-ico.png) !important;
    background-repeat: no-repeat;
}



.navicon-datwendo-calendar:hover /*,
.subnavicon-view-events:hover,
.subnavicon-sync-events:hover */
{
        background-position:0 -30px !important;
}
